;Copyright (C) 2008-2012 ClearCode Inc.
;This file must be encoded in Shift_JIS

;====================== CUSTOMIZABLE SECTION =======================

!define PRODUCT_FULL_NAME    "Fx Meta Installer"
!define PRODUCT_NAME         "FxMetaInstaller"
!define PRODUCT_VERSION      "0.0.0.0"
!define PRODUCT_YEAR         "2023"
!define PRODUCT_PUBLISHER    "ClearCode Inc."
!define PRODUCT_DOMAIN       "clear-code.com"
!define PRODUCT_WEB_SITE     "https://www.clear-code.com/"
!define PRODUCT_WEB_LABEL    "Go to Clear Code Inc."
!define PRODUCT_LANGUAGE     "Japanese"


; Type of the wizard
;  NORMAL  : Show full wizard
;  PASSIVE : Show message dialog but process installation automatically
;            (semi-silent install)
;  QUIET   : Silent install
!define PRODUCT_INSTALL_MODE "NORMAL"

!define APP_NAME            "Firefox"
;!define APP_EXE             "something.exe"
;!define APP_KEY             "Vendor\Something"
!define APP_MIN_VERSION     "102.0"
!define APP_MAX_VERSION     "102.99"
;!define APP_IS_ESR          "true"
;!define APP_IS_DEV_EDITION  "false"
;!define APP_ALLOW_DOWNGRADE "true"
;!define APP_DOWNLOAD_PATH   "\\fileserver\shared\Firefox Setup 102.0.exe"
;!define APP_DOWNLOAD_URL    "https://download.mozilla.org/?product=firefox-102.0&os=win&lang=ja"
;!define APP_HASH            "b0bae19c6e4510447d753240b9cc8e5a"
;!define APP_EULA_PATH       "\\fileserver\shared\Firefox Setup 102.0.txt"
;!define APP_EULA_URL        "http://www.mozilla.com/en-US/legal/eula/firefox2-en.txt"
;!define APP_ENABLE_CRASH_REPORT "true"
;ldefine APP_ALLOW_REUSE_PROFILE_AFTER_DOWNGRADE "true"
;!define APP_USE_ACTUAL_INSTALL_DIR "true"
;!define DEFAULT_CLIENT      "StartMenuInternet\FIREFOX.EXE"
;!define DISABLED_CLIENTS    ""
;!define MSI_EXEC_WAIT_MODE  "ExecWaitJob"
;!define MSI_EXEC_LOGGING    "true"

; Type of installation of Firefox/Thunderbird itself
;  NORMAL : Show full wizard
;  QUIET  : Silent install (recommended)
;  EXTRACT: Extract files without running installer
;  SKIP   : Do not install Firefox/Thunderbird
!define APP_INSTALL_MODE    "QUIET"
!define REQUIRE_ADMIN       "true"
!define ADMIN_CHECK_DIR     "%ProgramFiles%"

!define UPDATE_PINNED_SHORTCUTS    "false"
!define FX_ENABLED_SEARCH_PLUGINS  "*"
!define FX_DISABLED_SEARCH_PLUGINS ""

; Requirement of a clean environment with no existing profile
;  REQUIRED  : Requires a clean environment. If there is any existing
;              Firefox/Thunderbird profile, then cancels the installation
;              process automatically.
;  PREFERRED : Recommends a clean environment. The wizard asks to the user to
;              continue installation process, so the user can cancel the
;              insta
;  Otherwise : No alert.
!define CLEAN_INSTALL ""
;!define CLEAN_REQUIRED_TITLE    ""
;!define CLEAN_REQUIRED_MESSAGE  ""
;!define CLEAN_PREFERRED_TITLE   ""
;!define CLEAN_PREFERRED_MESSAGE ""

;!define INSTALL_ADDONS            ""
;!define EXTRA_INSTALLERS          ""
;!define EXTRA_SHORTCUTS           ""
;!define EXTRA_FILES               ""
;!define EXTRA_REG_ENTRIES         ""

;!define FINISH_TITLE   ""
;!define FINISH_MESSAGE ""

;!define CONFIRM_RESTART_TITLE   ""
;!define CONFIRM_RESTART_MESSAGE ""

;===================================================================
